@font-face {
  font-family: 'Cute Font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CuteFont-Regular.ttf');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Teko-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Roboto-Regular.ttf');
}
